<% for(var i=0; i<users.length;i++){%>
    <tr>
        <td><%= i+1%></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].gender %></td>
        <td><%= users[i].status %></td>
        <td>
            <!-- <button onclick="getData('<%= users[i]._id %>')" class="btn update"><i class="fas fa-pencil-alt"></i></button> -->
            <button onclick="deleteData('<%= users[i]._id %>')" class="btn  update"><i class="fas fa-times"></i></button>
            <!-- <p style="display: none;" id="dbId" ><%= users[i]._id %></p>
            <button onclick="showData()" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </button> -->
            <!-- <a href="/update-user" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a> -->
            <!-- <a class="btn border-shadow delete" data-id=<%= users[i]._id %> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a> -->

            <form action="/api/users/<%= users[i]._id %>" method="get">
                <button type="submit" class="btn update"><i class="fas fa-pencil-alt"></i></button>
            </form>


        </td>
        
    </tr>
    <% } %>